/* 상단 타이틀 포스터 영역 */
body {
  background-color: #060d17;
}

main {
  max-width: 1240px;
  margin: auto;
}

.background-left {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: -1;
  right: 50%;
  background-color: #0c131e;
}

.autosize-poster {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 50%;
}

.autosize-poster img {
  height: 250px;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* 상단 제목 영역 */
.detail-poster-container {
  /* position: relative; */
  height: 250px;
  /* display: flex; */
  /* overflow: hidden; */
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
  background-color: #0c131e;
  color: white;
}

.detail-poster-content {
  /* max-width: 1240px; */
  /* height: 100%; */
  /* min-width: 100%; */
  display: flex;
  width: 100%;
  /* position: relative; */
}

.detail-poster-left {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 60px;
}

.title-year {
  display: flex;
  align-items: baseline;
}

.movie-title {
  margin-right: 10px;
}

.runtime {
  margin-top: 10px;
}

.movie-runtime {
  margin-right: 10px;
}

/**********************/
/* 영화 설명 */
/**********************/
.detail-wrapper {
  width: 1240px;
  margin: auto;
  background-color: #060d17;
  color: white;
}
.detail-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.about-movie {
  font-size: 26px;
  width: 100%;
  margin: 60px 0 10px 60px;
  display: inline-block;
}

.datail-left {
  margin: 30px 60px;
  width: 700px;
}

.info-movie-contain {
  margin-bottom: 40px;
}

.info-movie-title {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}

.info-movie-content {
  font-size: 20px;
}

.datail-right {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.datail-right img {
  width: 65%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.actor-container {
  display: flex;
}

.actor-contain {
  width: 100%;
  margin-left: 10px;
}
.movie-actor-name {
  margin-top: 10px;
  margin-left: 10px;
}
.movie-actor-img {
  width: 150px;
  border-radius: 8px;
}

/* 연관영화 */
#info-relative-movie-title {
  margin: 0 60px;
  color: white;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}

#relative-movies-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px;
}

/* .relative-movie-contain {
  margin-right: 20px;
} */

.relative-movie-img {
  width: 200px;
  border-radius: 8px;
}

.relative-movie-title {
  width: 200px;
  color: white;
}

/**********************/
/* 영화 리뷰 */
/**********************/
#review-container {
  max-width: 1240px;
  margin: auto;
  background-color: #060d17;
  color: white;
  border-top: 2px solid #161f2e;
}

#review-section,
#creat-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
}
.review-item {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.review-item-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.review-item-middle {
  display: flex;
  color: #7b7d83;
}
.review-item-bottom {
  display: flex;
  color: #d5d5d536;
  bottom: 0px;
  gap: 6px;
}
/* .review-item-bottom {
  display: flex;
  position: absolute;
  right: -130px;
  color: #505050;
  bottom: 0px;
  gap: 8px;
} */
.modify-btn,
.delete-btn {
  all: unset;
}
.modify-btn:hover,
.delete-btn:hover {
  cursor: pointer;
}
.form-group-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  gap: 5px;
  height: 28px;
}

#author {
  width: 230px;
  border-radius: 3px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #222c38;
  border: none;
  color: white;
}
#rating {
  width: 150px;
  border-radius: 3px;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: #222c38;
  border: none;
  color: #707575;
}
#password {
  border-radius: 3px;
  padding-left: 10px;
  background-color: #222c38;
  border: none;
  color: white;
}
.form-group-bottom {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
#review {
  display: flex;
  width: 700px;
  height: 90px;
  resize: none;
  border-radius: 13px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #222c38;
  border: none;
  color: white;
}
#submit-btn {
  display: flex;
  position: absolute;
  bottom: -70px;
  height: 40px;
  width: 300px;
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  background-color: #f9c427;
  font-weight: bold;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

#submit-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.316);
  transform: scale(1.05);
  border: 3px solid #f9c427;
  color: #f9c427;
}
/* 모달 */

.confirm-modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 20%;
  z-index: 1000;
  max-width: 500px;
  background-color: #323335f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.confirm-message {
  font-weight: bold;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 10px;
}
.confirm-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.close-confirm-modal {
  position: absolute;
  right: 7px;
  font-size: 25px;
}

.confirm-password-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-password-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  margin-top: 6%;
  cursor: pointer;
  height: 28px;
}

#modal-password-input {
  width: 200px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
}

#confirm-password {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border: none;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
#confirm-password:hover,
#confirm-modify-review:hover {
  cursor: pointer;
  background-color: #a6a6a6;
}

.close-confirm-modal:hover,
.close-confirm-modal:focus,
.close-modify-modal:hover,
.close-modify-modal:focus {
  cursor: pointer;
}

.modify-modal {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 35%;
  z-index: 1000;
  max-width: 500px;
  background-color: #323335f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modify-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.close-modify-modal {
  position: absolute;
  right: 7px;
  font-size: 25px;
}

.modify-review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 35px;
}
.modify-message {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 30px;
}
#modify-rating {
  width: 150px;
  border-radius: 3px;
  padding: 0 5px;
  box-sizing: border-box;
  border: none;
  color: #707575;
}
#modify-review {
  display: flex;
  width: 400px;
  height: 80px;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: black;
}

#confirm-modify-review {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  width: 400px;
  border: none;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

/* 리액션 버튼 */
.good-bad-btn-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.reaction-btn {
  all: unset;
  font-size: 20px;
  color: white;
  transition: transform 0.2s ease, color 0.1s ease;
}
.reaction-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #f9c427;
}

#like-count,
#hate-count {
  margin-left: 10px;
}
