@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #191a20;
}

textarea,
select,
button,
input {
  border: none;
  background-color: transparent;
}

button:focus,
button:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

/* ************************************ */
/*************** Header *****************/
/******** header.html 내부에 정리 **********/
/* ************************************ */

/* ********************************** */
/*************** Main *****************/
/* ********************************** */

/* banner */
.banner {
  margin-bottom: 100px;
}

.banner-wrapper {
  position: relative;
  width: 1700px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.banner-slides {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
}

.banner-slides.animated {
  transition: 0.5s ease-out;
}

.banner-slides li {
  width: 840px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.banner-slides li:not(:last-child) {
  margin-right: 20px;
}

.banner-slides li img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 200ms ease-in-out;
}

.banner-slides li img:hover {
  transform: scale(1.1);
}
/* banner button */
.banner button {
  display: block;
  position: absolute;
  color: #f7f8fa;
  font-size: 100px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.banner button:nth-of-type(1) {
  top: 35%;
  left: 0;
}

.banner button:nth-of-type(2) {
  top: 35%;
  right: 0;
}

.banner button:hover {
  opacity: 1;
}

/* main-movies */
.main-movies {
  width: 1240px;
  margin: 0 auto;
  color: #f9c427;
  /* color: #F9C427; */
}

/*************** now-playing *****************/

.now-playing-section {
  width: 1240px;
  margin: 0 auto 100px;
}

.now-playing-link {
  display: inline-block;
  margin-bottom: 20px;
}

.now-playing-wrapper {
  overflow: hidden;
  border-radius: 10px;
}

.now-playing-slides {
  display: flex;
  position: relative;
  left: 0;
}

.now-playing-slides li {
  display: block;
  width: 240px;
  height: 360px;
}

.now-playing-slides li:not(:last-child) {
  margin-right: 10px;
}

.now-playing-slides li img {
  display: block;
  width: 240px;
  height: 100%;
  border-radius: 10px;
}

/************ popular, top-rated ************/
.popular-section,
.top-rated-section {
  width: 1240px;
  margin: 0 auto 100px;
}

.popular-link,
.top-rated-link {
  display: inline-block;
  margin-bottom: 20px;
}

.popular-wrapper,
.top-rated-wrapper {
  width: 1240px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.popular-slides,
.top-rated-slides {
  display: flex;
  position: relative;
  left: 0;
}

.popular-slides.animated,
.top-rated-slides.animated {
  transition: 0.5s ease-out;
}

.popular-slides li,
.top-rated-slides li {
  display: block;
  width: 240px;
  height: 360px;
  overflow: hidden;
}

.popular-slides li:not(:last-child),
.top-rated-slides li:not(:last-child) {
  margin-right: 10px;
}

.popular-slides li img,
.top-rated-slides li img {
  display: block;
  width: 240px;
  height: 100%;
  border-radius: 10px;
  transition: transform 200ms ease-in-out;
}

.popular-slides li img:hover,
.top-rated-slides li img:hover {
  transform: scale(1.1);
}

/* popular, top-rated button */
.popular-section button,
.top-rated-section button {
  display: block;
  position: absolute;
  color: #f7f8fa;
  font-size: 75px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.popular-section button:nth-of-type(1),
.top-rated-section button:nth-of-type(1) {
  top: 35%;
  left: 0;
}

.popular-section button:nth-of-type(2),
.top-rated-section button:nth-of-type(2) {
  top: 35%;
  right: 0;
}

.popular-section button:hover,
.top-rated-section button:hover {
  opacity: 1;
}

/* ************************************ */
/*************** Footer *****************/
/******** footer.html 내부에 정리 **********/
/* ************************************ */

.move-top-button {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 65px;
  height: 65px;
  color: #f9c427;
  /* z-index: 100; */
  /* border: 4px solid #f9c427; */
  border-radius: 50%;
  cursor: pointer;
  /* padding-bottom: 70px; */
  z-index: 100;
  font-size: 90px;

  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  transition: color 200ms ease-in-out;
  display: none;
  /* transform: rotate(90deg); */
  text-align: center;
}

.move-top-button img {
  width: 50px;
  height: 50px;
}

/* ************ */
/* test section */
/* ************ */
.test-now-playing-section {
  width: 1240px;
  margin: 0 auto 100px;
}

.test-now-playing-link {
  display: inline-block;
  margin-bottom: 20px;
}

.test-now-playing-wrapper {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.test-now-playing-slides {
  display: flex;
  position: relative;
  left: 0;
}

.test-now-playing-slides.animated {
  transition: 0.5s ease-out;
}

.test-now-playing-slides li {
  display: block;
  width: 240px;
  height: 360px;
}

.test-now-playing-slides li:not(:last-child) {
  margin-right: 10px;
}

.test-now-playing-slides li img {
  display: block;
  width: 240px;
  height: 100%;
  border-radius: 10px;
}

/* banner button */
.test-now-playing-section button {
  display: block;
  position: absolute;
  color: #f7f8fa;
  font-size: 100px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.test-now-playing-section button:nth-of-type(1) {
  top: 35%;
  left: 0;
}

.test-now-playing-section button:nth-of-type(2) {
  top: 35%;
  right: 0;
}

.test-now-playing-section button:hover {
  opacity: 1;
}
/* ************************ */
