@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
/* textarea,
select,
button,
input {
  border: none;
  background-color: transparent;
}

button:focus,
button:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
} */

#review {
  width: 600px;
  height: 100px;
  resize: none;
}

.confirmModal {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeConfirmModal:hover,
.closeConfirmModal:focus {
  cursor: pointer;
}

.modifyModal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.closeModifyModal:hover,
.closeModifyModal:focus {
  cursor: pointer;
}
